name: WakaTime Readme

on:
  schedule:
    - cron: "0 17 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: athul/waka-readme@v0.3.1
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

          TARGET_FILE: README.md
          SECTION_NAME: waka
          TIME_RANGE: last_7_days
          LANG_COUNT: 8

          SHOW_TITLE: true
          SHOW_TIME: true
          SHOW_TOTAL: true
          BLOCKS: ░▒▓█
